
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irontec.capacitor.videoplayerone">
    <uses-permission android:name = "android.permission.INTERNET"/>

    <application>
        <activity android:name="com.irontec.capacitor.videoplayerone.VideoPlayerActivity">
        </activity>
    </application>

</manifest>
